.App {
  text-align: left;
}





.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.buttons{
  background-color: #101f3d;
  border: 5px solid rgb(102, 255, 0);
}

.canard{
  background-color: #3c6814;
  border: 5px solid rgb(255, 0, 140);
}

