.BgChartExemple {
    width: 60%;
    height: 200;
    border: 1px solid red;
  }

.bgBoard {
    display: inline-block;   
    border: 5px solid red;
    height: 20 px;
  }
.bgBoardMain {
  border: 2px solid rgb(174, 0, 255);
}
.bgHidden{
  visibility: none;
}
  


  