.BgChartExemple {
    width: 60%;
    height: 200;
    border: 1px solid red;
  }

  .bgHidden2{
    display: none;
    border: 5px solid rgb(255, 100, 98);
  }
  
  .bgVisible2{
    display: block;
    visibility: none;
    border: 15px solid rgb(100, 100, 98);
  }

  .blue {
    
    border: 5px solid rgb(17, 0, 255);
  }


  