
.bg {
    display: inline-block;
   
    border: 1px solid red;
    height: 50px;
    padding-top: 2px;
    margin-top: 14px;
    margin: 10;
    margin-right: 10;
  }

.bg2 {
  display: inline-block;
   
  border: 1px solid red;
  height: 50px;
  padding-top: 0px;
  margin:0px;
}

.bgButtons{   
  border: 10px solid rgb(76, 0, 255); 
  padding-top: 10px;
  margin:10px;
}


  